<%- include('partials/header') %>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1><%= title %></h1>
        <h3>Jogador: <%= nick %></h3>
        <h3>Jogo: <%= game %></h3>
      </div>
    </div>
    <% if(!game) { %>
    <div class="row">
      <div class="col-4 m-auto">
        <form method="POST" action="/api">
          <div class="form-group">
            <label for="inputNickName">Seu nick</label>
            <input name="nickname" type="text" class="form-control" id="inputNickName" aria-describedby="inputNickNameHelp" placeholder="Informe seu nickname">
          </div>
          <button type="submit" class="btn btn-primary">Vamos lรก!</button>
        </form>
      </div>
    </div>
    <% } %>
    <div class="row mt-5">
      <div class="col-6">
        <p>Tabuleiro 1</p>
        <p>Jogador: <strong><%= players.jogador1 %></strong></p>
      </div>
      <div class="col-6">
        <p>Tabuleiro 2</p>
        <p>Jogador: <strong><%= players.jogador2 %></strong></p>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
